:host {
  display: block;
  width: 100vw;
  height: 100vh;
}

a-scene {
  width: 100%;
  height: 100%;
  display: block;
}

a-scene, a-scene canvas, a-scene video {
  position: absolute;
  inset: 0;
}

canvas, video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
