<ion-header [transparent]="true">
  <ion-toolbar>
    <ion-title>Realidad Aumentada</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeAR()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ar-iframe-page">
  <div class="iframe-wrapper">
    <iframe
      class="ar-iframe"
      src="assets/aframe-ar.html"
      title="AR A-Frame"
      allow="camera *; microphone *; autoplay *; fullscreen *; xr-spatial-tracking *"
      sandbox="allow-scripts allow-same-origin allow-forms allow-modals allow-pointer-lock"
      referrerpolicy="no-referrer"
    ></iframe>
  </div>
  </ion-content>
