ion-content.ar-iframe-page{
  --background: var(--ion-color-light);
}

.iframe-wrapper{
  position: relative;
  width: 100%;
  height: 100%;
}

.ar-iframe{
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border: 0;
  background: #000;
}
